.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
  align-self: center;
}

.heading {
  color: var(--yellow);
  text-align: center;
}

.img { opacity: 0.25 }
